@model IEnumerable<SensorViewModel>
@{
     ViewData["Title"] = "Sensors";
}

<h2>Your Sensors</h2>

<table class="table table-bordered">
    <tr>
        <td class="col-lg-3">Name</td>
        <td class="col-lg-2">Description</td>
        <td class="col-lg-2">Value</td>
        <td class="col-lg-2">TimeStamp</td>
        <td class="col-lg-1"></td>
    </tr>
    @foreach (var sensor in Model)
    {
        <tr>
            <td>@sensor.Name</td>
            <td>@sensor.Description</td>
            <td>@sensor.Value</td>
            <td>@sensor.Timestamp</td>
            <td><a asp-action="Details" asp-controller="Sensor" asp-route-id="@sensor.Id" class="btn btn-success">Details</a></td>
        </tr>

    }
</table>



