@model SmartDormitary.Data.Models.Sensor

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Sensor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RefreshTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RefreshTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsPublic)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsPublic)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Timestamp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Timestamp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Latitude)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Longitude)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Value)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Value)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MinAcceptableValue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MinAcceptableValue)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaxAcceptableValue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaxAcceptableValue)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TickOff)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TickOff)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SensorType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SensorType.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
