@model SensorViewModel
@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>
<h3>@Model.Name</h3>
<p>Description</p>
<p>@Model.Description</p>
<br/>
<p>Pulling Interval: @Model.PullingInterval</p>
<p>Sensor Value: @Model.Value</p>
<p>@Model.Timestamp</p>


