@using Humanizer
@using Humanizer.Localisation
@model IEnumerable<SensorTypeViewModel>

<table id="table" class="table table-striped border border-info">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Measurement Type</th>
        <th scope="col">Refresh Time</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var sensorType in Model)
    {
        <tr>
            <td scope="row">@sensorType.Tag</td>
            <td>@sensorType.Description</td>
            <td>@sensorType.MeasurementType</td>
            <td>@TimeSpan.FromSeconds(sensorType.MinRefreshTime).Humanize(minUnit: TimeUnit.Second, maxUnit: TimeUnit.Minute)</td>
            <td>
                <a asp-action="Register" asp-controller="Sensor" asp-route-id="@sensorType.Id" class="btn btn-success"><i class="material-icons">add_location</i> Register Sensor</a>
            </td>
        </tr>
    }
    </tbody>
    <tfoot>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Measurement Type</th>
        <th>Refresh Time</th>
        <th>Actions</th>
    </tr>
    </tfoot>
</table>